body{
    background: url('bg.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
}
.container{
    background-color: rgba(255,255,255,.5);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

}
.topheader{
    max-width: inherit;
    animation: pulsing 2s linear infinite;
}
@keyframes pulsing {
    0% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5)
    }
    50% {
      -webkit-transform: scale(1.0, 1.0);
      transform: scale(1.0, 1.0);
    }
    100% {
      -webkit-transform: scale(0.5, 0.5);
      transform: scale(0.5, 0.5);
    }
  }

* {
  scrollbar-width: thin;
  scrollbar-color: #17a2b8 transparent;
}
*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #17a2b8;
  border-radius: 20px;
  border: 3px solid transparent;
}
